.demo-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.demo-footer--information {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-top: 20px;
    border-top: solid 2px #f0f4fa;
    color: #8694ab;
}

.demo-monster-img {
    width: 15%;
    align-self: center;
    margin-bottom: 10px;
}
