.demo-footer {
    display: flex;
    flex-direction: column;
}

.demo-footer--information {
    width: 1100px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 20px 0px;
    border-top: solid 2px #f0f4fa;
    color: #8694ab;
}

.demo-monster-img {
    width: 300px;
    align-self: center;
    margin-bottom: 10px;
}
