.demo-test-area--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.demo-test-area--title {
    align-self: center;
    text-align: center;
}

.demo-test-area {
    align-self: center;
    margin-top: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.demo-test-area--preamble {
    padding-top: 20px;
    padding-bottom: 10px;
}

.demo-test-area--button {
    margin-top: 30px !important;
    width: 80%;
    height: 50px;
    align-self: center;
}

.demo-test-area--info {
    align-self: center;
    text-align: center;
}

.demo-test-area--info.top {
    margin-top: 20px;
}

.demo-test-area--info.main {
    width: 40%;
    margin-top: 20px;
}

.demo-test-area--info a {
    font-weight: 400;
    text-decoration: none;
    color: #4e8cff;
}
